<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.essor.index-recheck</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/n./Workspace/web/sillage/scripts/index-recheck.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Day</key><integer>25</integer>
    <key>Hour</key><integer>9</integer>
    <key>Minute</key><integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/n./Workspace/web/sillage/scripts/index-recheck.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/n./Workspace/web/sillage/scripts/index-recheck.log</string>
</dict>
</plist>
